<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Venture Inventory</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="/css/showStyle.css" >
        <link rel="stylesheet" type="text/css" href="/vendor/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="/vendor/fontawesome/css/brands.css">
        <link rel="stylesheet" href="/vendor/fontawesome/css/solid.css">
        <script src="/libs/jquery-3.3.1.min.js"></script>
        <script src="/libs/bootstrap.bundle.min.js"></script>
        <script src="/showAdd.js"></script>
        
    </head>
    <body>
        <div id="container">
            <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
                <a class="navbar-brand" href="http://localhost:3000"><img id="vLogo" src="/img/VentureLogo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <form action="/items/new" method="GET">
                                <li><button class="btn btn-defualt my-2 my-sm-0" type="submit">Add Item</button></li>
                            </form>
                        </ul>
                        <form class="form-inline my-2 my-lg-0" action="/items/search" method="GET">
                        <input class="form-control mr-sm-2" type="q" name="q" paceholder="Search" aria-label="Search">
                        <button class="btn btn-defualt my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
            </nav>
        </div>

        <div class="container">

            <form action="/items/<%= item.id %>?_method=Put" method="POST">
                <h1>Name: <input type="text"  name="name" value="<%= item.name %>" required placeholder="Name of item" autocomplete="off"></h1>
                <p><%= msg %></p>
                <div class="row">
                    <h3 class="col-sm">In stock: <input type="number" name="instock" value="<%= item.instock %>" required placeholder="Amount added" min=1> </h3>
                    <h3 class="col-sm">Total: <input type="number" name="total" value="<%= item.total %>" required placeholder="Amount added" min=1></h3>
                </div>
            
                
                <h3>Description</h3>
                <textarea id="cbox" type="text" name="description" placeholder="Description of Item"><%= item.description %></textarea>

                <!-- TODO: Allow for the change of who has what of what quantity for what reason -->
                <h3>Location</h3>
                <input type="text" name="location" value="<%= item.location %>" required placeholder="Location of item" autocomplete="off">
                <br>
                <button id="editBtn" type="submit" class="btn btn-success">   Confirm</button>
                
                
            </form>
            
            
            <form action="/items/<%= item.id %>?_method=Delete" method="POST">
                <button id="deleteBtn" class="btn btn-danger" type="submit">Delete</button>
            </form>
            <form action="/items/<%= item.id %>" method="GET">
                <button id="CancelBtn" class="btn btn-info" type="submit">Cancel</button>
            </form>
            
            
            
        </div>
        <div class="spacer">
            
        </div>


    </body>
</html>